#hero {
  background-image: url(./assets/images/background1.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

#hero h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  -webkit-animation: text-reveal .5s forwards;
          animation: text-reveal .5s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@media screen and (min-width: 768px) {
  #hero h1 {
    font-size: 7rem;
  }
}

#hero h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero h1:nth-child(1) span {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#hero h1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#hero h1:nth-child(2) span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#hero h1:nth-child(3) {
  -webkit-animation: text-reveal_name .5s ease forwards;
          animation: text-reveal_name .5s ease forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#hero h1:nth-child(3) span {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

/* keyframes*/
@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text-reveal {
  100% {
    color: white;
  }
}

@keyframes text-reveal {
  100% {
    color: white;
  }
}

@-webkit-keyframes text-reveal_name {
  100% {
    color: crimson;
    font-weight: 600;
  }
}

@keyframes text-reveal_name {
  100% {
    color: crimson;
    font-weight: 600;
  }
}

/* end Keyframes*/
#services .services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px 0;
}

#services .services__top {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

#services .services__top p {
  font-size: 1.7rem;
  margin-top: 5px;
  line-height: 2rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

#services .services__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#services .services__bottom .icon {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
  color: white;
}

#services .services__bottom .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#services .services__item {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./assets/images/servicesBG.jpeg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#services .services__item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .9;
  z-index: -1;
}

#services .services__item h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10x;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  #services .services__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 2.5%;
  }
}

@media screen and (min-width: 1200px) {
  #services .services__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 1%;
  }
}

.services__item .skills {
  margin-left: 5px;
}

.description {
  font-size: 1.5rem;
  padding: 1px 2px;
  text-align: justify;
  margin: 0 6rem;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 2rem;
    margin: 0 3rem;
  }
}

#projects .projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

#projects .projects__header h1 {
  margin-bottom: 50px;
}

#projects .projects__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .projects__item:hover .projects__image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  #projects .projects__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .projects__item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#projects .projects__info {
  padding: 30px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#projects .projects__info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#projects .projects__info h2 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .projects__info p {
  color: white;
  font-size: 1.2rem;
}

#projects .projects__info a {
  color: white;
  text-decoration: none;
}

#projects .projects__info a:hover {
  color: crimson;
}

@media screen and (min-width: 768px) {
  #projects .projects__info {
    height: 100%;
  }
}

#projects .projects__image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .projects__image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
}

#projects .projects__image img {
  -webkit-transition: .6s ease transform;
  transition: .6s ease transform;
}

@media screen and (min-width: 768px) {
  #projects .projects__image {
    height: 100%;
  }
}

.project_knowledges {
  margin-left: 15px;
}

#about .about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

#about .about__col-left {
  width: 250px;
  height: 360px;
}

@media screen and (min-width: 768px) {
  #about .about__col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
}

#about .about__col-right {
  width: 100%;
}

#about .about__col-right h2 {
  font-size: 1.8rem;
  font-weight: 500px;
  letter-spacing: .2rem;
  margin-bottom: 10px;
}

#about .about__col-right p {
  margin-bottom: 20px;
}

#about .about__col-right .cta {
  color: black;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .about__col-right .cta:hover {
  color: white;
}

@media screen and (min-width: 768px) {
  #about .about__col-right {
    text-align: left;
    padding: 30px;
  }
}

#about .about__image {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}

#about .about__image::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  #about .about__image::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }
}

@media screen and (min-width: 768px) {
  #about .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  #about h1 {
    text-align: left;
    font-size: 5.5rem;
  }
}

span.about_highlight {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .info_details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info_details .info_left {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .info_details .info_right {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-left: 100px;
  }
}

#contact .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact__items {
  width: 400px;
}

#contact .contact__item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 18px 0 #0000002c;
          box-shadow: 0px 0px 18px 0 #0000002c;
  -webkit-transition: .4s ease box-shadow;
  transition: .4s ease box-shadow;
}

#contact .contact__item:hover {
  -webkit-box-shadow: 0px 0px 5px 0 #0000002c;
          box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .contact__icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact__info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact__info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  #contact .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 20vh;
  }
  #contact .contact__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact__item {
    width: 30%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  #contact .contact__icon {
    height: 80px;
    width: 80px;
  }
  #contact .contact__icon img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  #contact .contact__info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
}

#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer__brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

#footer .footer__brand h1 span {
  color: crimson;
}

#footer .footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

#footer .footer__social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .footer__social-item:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#footer .footer__social-item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .4s ease filter;
  transition: .4s ease filter;
}

#footer p {
  color: white;
  font-size: 1.3rem;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  -webkit-transition: .5s ease background-color;
  transition: .5s ease background-color;
}

#header .header__brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

#header .header__brand h1 span {
  color: crimson;
}

#header .header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .header__nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1f1e1e;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: .5s ease left;
  transition: .5s ease left;
}

#header .header__nav-list ul.active {
  left: 0;
}

#header .header__nav-list ul li:hover a {
  color: crimson;
}

#header .header__nav-list ul li:hover a::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .header__nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#header .header__nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 9rem;
  letter-spacing: 50px;
  z-index: -1;
  -webkit-transition: .4s ease letter-spacing;
  transition: .4s ease letter-spacing;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-animation: hamburger_puls 1s ease infinite;
          animation: hamburger_puls 1s ease infinite;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

@media screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }
  #header .header__nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  #header .header__nav-list ul li {
    display: inline-block;
  }
  #header .header__nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .header__nav-list ul a::after {
    display: none;
  }
}

@-webkit-keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.experiences {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 0;
}

.experiences__top {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.experiences__top h1 {
  margin-bottom: 50px;
}

.experiences__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.timeline_item {
  margin-bottom: 25px;
  position: relative;
  padding-left: 1rem;
}

.timeline_item h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.timeline_item:before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 2px solid #000;
}

@media only screen and (max-width: 768px) {
  .timeline_item h2 {
    font-size: 1.5rem;
  }
  .timeline_item {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .experiences__top {
    width: 500px;
  }
  .experiences__top h1 {
    margin-bottom: 10px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.section__title span {
  color: crimson;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 5rem;
  }
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: crimson;
  background-color: transparent;
  color: white;
  border: 2px solid crimson;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-top: 30px;
  -webkit-transition: .3s ease background-color;
  transition: .3s ease background-color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: crimson;
}

@media screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */