<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section id="contact">
        <div class="contact container">
            <div>
                <h1 class="section__title">Contact <span>Info</span></h1>
            </div>
            <div class="contact__items">
                <div class="contact__item">
                    <div class="contact__icon"><img src="https://img.icons8.com/bubbles/50/000000/phone.png"/></div>
                    <div class="contact__info">
                        <h1>Phone</h1>
                        <h2>+84 932 412 932</h2>
                        <h2>+84 932 412 932</h2>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__icon"><img src="https://img.icons8.com/bubbles/50/000000/email.png"/></div>
                    <div class="contact__info">
                        <h1>Email</h1>
                        <h2>+84 932 412 932</h2>
                        <h2>+84 932 412 932</h2>
                    </div>
                </div>
                <div class="contact__item">
                    <div class="contact__icon"><img src="https://img.icons8.com/bubbles/50/000000/address.png"/></div>
                    <div class="contact__info">
                        <h1>Adress</h1>
                        <h2>+84 932 412 932</h2>
                        <h2>+84 932 412 932</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>