<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section id="footer">
        <div class="footer container">
            <div class="footer__brand">
                <h1> <span>T</span>ung <span>N</span>guyen</h1>
            </div>
            <h2>Something here</h2>
            <div class="footer__social-icon">
                <div class="footer__social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/facebook-new.png"/></a>
                </div>
                <div class="footer__social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/instagram-new.png"/></a>
                </div>
                <div class="footer__social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/twitter.png"/></a>
                </div>
                <div class="footer__social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/50/000000/youtube.png"/></a>
                </div>
            </div>
            <p>Copyright © 2021 Tung Nguyen. All rights reserved</p>
        </div>
    </section>
</body>
</html>