<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <section id="header">
        <div class="header container">
            <div class="header__nav-bar">
                <div class="header__brand">
                    <a href="#hero"><h1><span>T</span>ung <span>N</span>guyen</h1></a>
                </div>
                <div class="header__nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#header" data-after="Home">Home</a></li>
                        <li><a href="#services" data-after="Services">Services</a></li>
                        <li><a href="#projects" data-after="Projects">Projects</a></li>
                        <li><a href="#about" data-after="About">About</a></li>
                        <li><a href="#contact" data-after="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/myJs.js"></script>
</body>
</html>