<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    
</body>
</html>
<section id="projects">
  <div class="projects container">
    <div class="projects__header">
      <h1 class="section__title">Recents <span>Projects</span></h1>
    </div>
    <div class="projects__all">
      <div class="projects__item">
        <div class="projects__info">
          <h1>Project 1</h1>
          <h2>Something here</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            quibusdam quod qui saepe expedita sed minus sit eos ipsam ea
            molestiae numquam, porro cupiditate omnis culpa voluptatem. Minus,
            dolore dicta?
          </p>
        </div>
        <div class="projects__image">
            <img src="../assets/images/project-image.jpg" alt="">
        </div>
      </div>
      <div class="projects__item">
        <div class="projects__info">
          <h1>Project 2</h1>
          <h2>Something here</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            quibusdam quod qui saepe expedita sed minus sit eos ipsam ea
            molestiae numquam, porro cupiditate omnis culpa voluptatem. Minus,
            dolore dicta?
          </p>
        </div>
        <div class="projects__image">
            <img src="../assets/images/project-image.jpg" alt="">
        </div>
      </div>
      <div class="projects__item">
        <div class="projects__info">
          <h1>Project 3</h1>
          <h2>Something here</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            quibusdam quod qui saepe expedita sed minus sit eos ipsam ea
            molestiae numquam, porro cupiditate omnis culpa voluptatem. Minus,
            dolore dicta?
          </p>
        </div>
        <div class="projects__image">
            <img src="../assets/images/project-image.jpg" alt="">
        </div>
      </div>
      <div class="projects__item">
        <div class="projects__info">
          <h1>Project 4</h1>
          <h2>Something here</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            quibusdam quod qui saepe expedita sed minus sit eos ipsam ea
            molestiae numquam, porro cupiditate omnis culpa voluptatem. Minus,
            dolore dicta?
          </p>
        </div>
        <div class="projects__image">
            <img src="../assets/images/project-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
