<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="services">
      <div class="services container">
        <div class="services__top">
            <h1 class="section__title">Serv<span>i</span>ces</h1>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit,
              doloremque quod iste saepe provident quia facilis. Sed, assumenda
              reprehenderit nihil ad tenetur nesciunt doloribus, est suscipit
              maxime fugiat, velit veritatis.
            </p>
        </div>
        <div class="services__bottom">
            <div class="services__item">
                <div class="icon"><img src="https://img.icons8.com/wired/64/000000/services.png"/></div>
                <h2>Services1</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit,
                  doloremque quod iste saepe provident quia facilis. Sed, assumenda
                  reprehenderit nihil ad tenetur nesciunt doloribus, est suscipit
                  maxime fugiat, velit veritatis.</p>
            </div>
            <div class="services__item">
              <div class="icon"><img src="https://img.icons8.com/wired/64/000000/services.png"/></div>
              <h2>Services1</h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit,
                doloremque quod iste saepe provident quia facilis. Sed, assumenda
                reprehenderit nihil ad tenetur nesciunt doloribus, est suscipit
                maxime fugiat, velit veritatis.</p>
          </div>
          <div class="services__item">
            <div class="icon"><img src="https://img.icons8.com/wired/64/000000/services.png"/></div>
            <h2>Services1</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit,
              doloremque quod iste saepe provident quia facilis. Sed, assumenda
              reprehenderit nihil ad tenetur nesciunt doloribus, est suscipit
              maxime fugiat, velit veritatis.</p>
        </div>
        <div class="services__item">
          <div class="icon"><img src="https://img.icons8.com/wired/64/000000/services.png"/></div>
          <h2>Services1</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit,
            doloremque quod iste saepe provident quia facilis. Sed, assumenda
            reprehenderit nihil ad tenetur nesciunt doloribus, est suscipit
            maxime fugiat, velit veritatis.</p>
      </div>
        </div>
      </div>
    </section>
  </body>
</html>
