
    .experiences {
        flex-direction: column;
        text-align: left;
        max-width: 1500px;
        margin: 0 auto;
        padding: 40px 0;

        &__top {
            width: 400px;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
            h1 {
                margin-bottom: 50px;
            }
        }

        &__bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

    }

    .timeline_item {
        margin-bottom: 25px;
        position: relative;
        padding-left: 1rem;

        h2 {
            font-size: 2.2rem;
            font-weight: 600;
        }
        &:before {
            content: "";
            position: absolute;
            width: 0;
            left: 0;
            top: 0;
            bottom: 0;
            border-right: 2px solid #000;
        }
    }

@media only screen and (max-width:768px) {
    .timeline_item h2 {
        font-size: 1.5rem;
    }
    .timeline_item {
        margin-left: 1rem;
    }
}

@media only screen and(min-width: 768px) {
    .experiences {
        &__top {
            width: 500px;
            h1 {
                margin-bottom: 10px;
            }
        }
    }
} 

    
